*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
p,h1,h2,h3,a,button{
    font-family: 'Oswald', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
:root{
    --bgDark   : #161616;
    --bgSchool : #324376;
    --bgSchool2 : #586BA4;
    --color-alt1 : #F5DD90;
    
    --height-nav-main : 10vh;
    --height-footer   : 10vh;
    --height-hero     : 10vh; 
}
.nav-main{
    position:sticky;
    top:0px;
    display: flex;
    padding-right: 15px;
    height:auto;
    background-color: var(--bgSchool);
    z-index: 100;
}
.nav-main .logo{
    color:black;
    display : flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 10vh;
}
.nav-main ul li{
    list-style: none;
}
.nav-main ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
    height: 10vh;
}
.nav-main ul li a{
    margin-left: 15px;
    text-decoration: none;
    padding : 10px 40px;
    border-radius: 8px;
    background-color: var(--color-alt1);
    color:black;
}
.hero{
    position: relative;
    height: 35vh;
    background-color: white;
}
.container{
    position: relative;
    width: 100%;
    height: 1500px;
    background-color: var(--bgSchool2);
}
footer{
    position: relative;
    width  : 100%;
    height : 30vh;
    background-color: var(--color-alt1) ;
}