*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --bgDark   : #161616;
    --bgSchool : #324376;
    --bgSchool2 : #586BA4;
    --color-alt1 : #F5DD90;
    --color-alt2 : #F68E5F;
    
    --height-nav-main : 10vh;
    --height-footer   : 10vh;
    --height-hero     : 10vh; 
}
label,h1,h2,p,button,input{
    font-family: 'Roboto', sans-serif;  
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bgSchool2);
}
.container-login{
    background-color : var(--bgSchool);
    width: 350px;
    padding-top: 8vh;
    padding-bottom: 5vh;
    border-radius: 8px;
}
.container-login form{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 35vh;
    width:100%;
}
.container-login form input{
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--bgSchool2);
    width: 85%;
    padding: 10px 30px;
    background: var(--bgSchool);
    font-size: 12px;
    color : var(--color-alt1)
}
form input::placeholder{
    color: var(--bgSchool2);
    font-size: 15px;
}
.container-login form .options-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
    height: 10vh;
}
.container-login form button{
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    user-select: none;
}
.btn-login{
    padding: 10px 25px;
    background-color: greenyellow;
}
.btn-login:hover{
    background-color: rgb(119, 199, 0);
}
.btn-forget{
    padding: 10px 25px;
    background-color: aqua;
}
.btn-forget:hover{
    background-color: rgb(6, 187, 187);
}
.data-obtain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
label{
    color: var(--bgSchool2);
    margin-bottom: 25px;
    user-select: none;
}