<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/styles.css">
    <title>Login</title>
</head>
<body>
    <div class ="page-login-container">
        <%- include('../partials/nav') %>
            <div class="form-login-container">
                <form class="form-login" action="/Login" method="POST">
                    <h2>Login</h2>
                    <div class="image-login-form">

                    </div>
                    <input type="text" placeholder="username" name="username" required />
                    <input type="password" name="password" required placeholder="passwod" />
                    <button type="submit">Login</button>
                </form>
            </div>
            <%- include('../partials/footer') %>
    </div>
</body>
</html>