*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
p,h1,h2,h3,a,button{
    font-family: 'Oswald', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
:root{
    --bgDark   : #161616;
    --bgSchool : #c6ffff;

    --height-nav-main : 10vh;
    --height-footer   : 10vh;
    --height-hero     : 10vh; 
}
iframe{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#root{
    background-color: white;
}



/*iframe nav*/
.nav-main{
    display: flex;
    padding-right: 15px;
    position: relative;
    height:auto;
    background-color: var(--bgSchool);
}
.nav-main .logo{
    color:black;
    display : flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100vh;
    background-color: #acf3f3;
}
.nav-main ul li{
    list-style: none;
}
.nav-main ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
    height: 100vh;
}
.nav-main ul li a{
    margin-left: 15px;
    text-decoration: none;
    padding : 10px 35px;
    background-color: #acf3f3;
    color:black;
}
/*iframe hero*/
.hero{
    background-color: var(--bgSchool);
    height: 100vh;
}
/*iframe footer*/

